:root {
    /* light mode */
    /* --crema: #F7E1C1;
    --rosa-pastello: #F8B195;
    --marrone-cioccolato: #6C4A3D; */
    /* --crema-sporco: #FAF9F6; */
    /* darkmode */
    /* --marrone-fondente: #2E1F1B;
    --crema-vaniglia: #D7C9AA;
    --grigio: #2B2B2B;
    */
    --rosa-scuro: #A85C5C;
    /* Global */
    --radius: 15px;
    --secondary-radius: 8px;
    --main-transition: 200ms;
    /* --secondary-shadow: 0px 12px 20px rgb(22, 22, 22); */
}


.light-mode {
    --crema: #F7E1C1;
    --rosa: #F8B195;
    --marrone: #6C4A3D;
    --shadow: 0 5px 15px rgba(0, 0, 0, 0.521);
    transition: var(--main-transition);
    --crema-sporco: #FAF9F6;
    --secondary-shadow: 0px 12px 20px rgb(22, 22, 22);
    --gradient: linear-gradient(132deg, rgba(247, 225, 193, 1) 0%, rgba(108, 74, 61, 1) 50%, rgba(247, 225, 193, 1)90%);
    --reserved-name: #f7ac4b;

    --hover-primary: rgba(255, 153, 102, 0.2);
}

.dark-mode {
    --marrone: #2E1F1B;
    --crema: #D7C9AA;
    --rosa: #A85C5C;
    --shadow: 4px 5px 15px rgba(190, 190, 190, 0.877);
    transition: var(--main-transition);
    --crema-sporco: rgb(39, 39, 39, 0.5);
    --secondary-shadow: 0px 12px 20px rgb(77, 77, 77);
    --gradient: linear-gradient(130deg, rgba(168, 92, 92, 1) 0%, rgba(46, 31, 27, 1) 50%, rgba(168, 92, 92, 1) 100%);
    --reserved-name: #e09737;
    --hover-primary: rgba(255, 102, 51, 0.2);
}

body {
    margin: 0 auto;
}

.body {
    background-color: var(--crema-sporco);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    font-family: "Poppins", sans-serif;
}


/* NAVBAR */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--marrone);
    position: sticky;
    top: 0;
    z-index: 9999;
    transition: var(--main-transition);
    box-shadow: var(--secondary-shadow);
}

.nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav ul li {
    list-style: none;
    padding: 0 3rem;
    position: relative;
    /* Necessario per posizionare ::before */
}

a {
    text-decoration: none;
}

.links-container {
    width: auto;
    height: auto !important;
}

.nav-links a {
    color: var(--crema);
    transition: var(--main-transition);
    position: relative;
}

.nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--crema);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.nav-links a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-links a:hover {
    color: var(--crema);
}

.nav-image {
    width: 4rem;
    height: 4rem;
    margin: 15px;
}



.nav-toggler {
    display: none;
}


/* FINE NAVBAR */

/* CARD */

.card {
    background-color: var(--crema);
    width: 18rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    border: 3px solid var(--marrone);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    transition: var(--main-transition);
    position: relative;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: var(--hover-primary);
    transition: height 0.5s ease-in-out;
    z-index: 1;
}

.card:hover::before {
    height: 100%;
}

.container-img {
    position: relative;
    z-index: 2;
    margin-top: 5px;
    width: 17rem;
    height: 12rem;
    border-radius: var(--radius);
}

.container-body {
    position: relative;
    z-index: 2;
    text-align: center;
}

.container-body p {
    padding: 0px 20px;
}

button {
    border-radius: var(--radius);
    width: 6rem;
    height: 3rem;
    background-color: var(--marrone);
    color: var(--crema);
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    transition: var(--main-transition);
    text-transform: uppercase;
    font-weight: 600;
}

button:hover {
    background-color: var(--crema);
    color: var(--marrone);
    font-weight: 800;
}

.container-tot-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    min-height: 82.6vh;
}

.tot-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.search-input {
    width: 100%;
    max-width: 15em;
    height: 30px;
    border: 3px solid var(--marrone);
    border-radius: var(--secondary-radius);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .operator {
    margin: 0 10px;
} */

.container-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.container-buy button {
    cursor: pointer;
}


/* FINE CARD */



/* SINGLE SWEET */

.container-single-sweet {
    min-height: 86.2vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-single-sweet-img {
    width: 80%;
    margin: 50px;
    max-width: 650px;
    border-radius: var(--radius);
    border: 4px solid var(--marrone);
    box-shadow: var(--shadow);
}

.container-single-sweet-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 50px;
}

.container-single-sweet-body p {
    max-width: 400px;
}

/* FINE SINGLE SWEET */



/* LIGHT-MODE AND DARK-MODE */

.btn-mode {
    margin-right: 25px;
    font-size: 30px;
    color: var(--crema);
}


/* CONTATTACI */


.container-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--crema);
    min-height: 84.2vh;
    margin: 100px auto;
    border: 5px solid var(--marrone);
    border-radius: var(--radius);
    background: var(--gradient);
    background-color: black;
    box-shadow: var(--shadow);
    max-width: 1100px;
}

.container-form input {
    width: 100%;
}

.container-form input,
textarea {
    font-size: 20px;
    border-radius: var(--secondary-radius);
    border: 3px solid var(--marrone);
}

textarea {
    width: 100%;
}

.container-contattaci {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-width: 600px;
}

label {
    font-size: 24px;
    font-weight: 600;
    color: var(--crema);
    text-shadow: 3px 3px var(--marrone);
}

button[type="submit"] {
    width: 12rem;
    font-size: 20px;
}


/* FINE CONTATTACI */

/*  HOME  */
header {
    background: url("./media/image/pasticceria.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 5rem;
    background-color: var(--marrone);
    font-size: 24px;
    border: 3px solid var(--crema);
    border-radius: var(--radius);
    color: var(--crema);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: var(--main-transition);
}

.btn-home:hover {
    background-color: var(--crema);
    border: 3px solid var(--marrone);
    color: var(--marrone);
}

/* FINE HOME */


/* ABOUT */
.container-about {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-about img {
    margin-top: 50px;
    width: 100%;
    max-width: 1000px;
    border: 5px solid var(--crema);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.paragraph-about {
    text-align: center;
    font-size: 24px;
}



/* FINE ABOUT */


/* FOOTER */

.container-footer {
    background-color: var(--marrone);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: var(--main-transition);
    color: var(--crema);
    position: relative;
    z-index: 99;
    padding: 20px 0;
}

.footer-social ul {
    display: flex;
    justify-content: center;
    padding: 0;

}

.footer-social li {
    list-style-type: none;
    margin: 0 1.5rem;

}

.footer-social a {

    color: var(--crema);
    font-size: 24px;
    transition: var(--main-transition);
}

.footer-reserved {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}

.reserved-name {
    color: var(--reserved-name);
}

/* FINE FOOTER */

/* ERROR PAGE */

.btn-error-page {
    position: relative;
    z-index: 2;
    border-radius: var(--radius);
    border: 4px solid var(--crema);
    width: 6rem;
    background-color: var(--marrone);
    color: var(--crema);
    margin-bottom: 0;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    transition: var(--main-transition);
    text-transform: uppercase;
    font-weight: 600;
}

.wrapper-error-page {
    min-height: 86.2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-error-page:hover {
    border: 4px solid var(--marrone);
    background-color: var(--crema);
    color: var(--marrone);
}

@media screen and (max-width: 1100px) {
    .container-single-sweet {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .container-single-sweet-body {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 15px;
    }

    /* FINE SINGLE SWEET */
}

@media screen and (max-width: 900px) {


    /* NAVBAR */

    .nav-toggler {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        margin-right: 40px;
        cursor: pointer;
        color: var(--crema);
        z-index: 99999;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .links-container.show ul {
        display: flex;
        transition: 0.3s;
    }

    .links-container {
        position: absolute;
        top: 95px;
        right: 0;
        width: 100%;
        overflow: hidden;
        background-color: var(--marrone);
        z-index: 99999;
        box-shadow: 0px 16px 10px rgba(68, 68, 68, 0.8);
    }

    .nav ul li {
        padding: 1rem;
    }

    /* FINE NAVBAR */


    /* CONTATTACI */

    .container-form {
        width: 95%;
        height: 100%;
        overflow-x: hidden;
        background: var(--gradient);
        background-color: black;
    }

    .container-form input {
        border-radius: var(--secondary-radius);
        width: 270px;
    }

    textarea {
        width: 20rem;
        border-radius: var(--secondary-radius);
    }

    .container-form input,
    textarea {
        font-size: 18px;
    }

    button[type="submit"] {
        margin: 20px 0;
    }

    /* FINE CONTATTACI */


    /* SINGLE SWEET */
    .container-single-sweet {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .container-single-sweet-body {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 15px;
    }

    /* FINE SINGLE SWEET */

    /* HOME */

    .btn-home {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* FINE HOME */
}